{% extends "login/parent.html" %}

{% block body %}
<h1>Welcome to Django Video Player</h1><br>
<br>


{% for video in most_recent_videos %}
<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">{{ video.title }}</h1>
          <p class="lead">{{ video.description }}</p>
          <p style="font-size: 12px; color:block;">Uploaded by {{ video.user }} on {{ video.datetime }} </p>
          <p style="text-align: right"><a href='/video/{{ video.id }}'>Watch Video</a></p>
        </div>
</div>
{% endfor %}

{% endblock %}
